{% load static %}
<html>
    <body>
        <head>
            <title>Luis Muñoz Marin Quote Of The Day</title>
            <link rel="stylesheet" href="{% static 'styles.css' %}">
        </head>
        <nav>
            <li><a href="{% url 'quote' %}">Quote Of The Day</a></li>
            <li><a href="{% url 'show_all' %}">Show All</a></li>
            <li><a href="{% url 'about' %}">Show All</a></li>
        </nav>
        
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <hr>
    
    <footer>
        Created by Alexc26@bu.edu

    </footer>
 
    </body>
</html>