{% load static %}
<html>
    <head>
        <title>Luis Muñoz Marin Quote Of The Day</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
        <nav>
            <li><a href="{% url 'quote' %}">Quote Of The Day</a></li>
            <li><a href="{% url 'show_all' %}">Show All</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </nav>
    </header>
        
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <hr>
    
    <footer>
        Created by Alexc26@bu.edu
    </footer>
 
    </body>
</html>